@import url("css/normalize.css");

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix::after,
.header::after {
    content: "";
    display: table;
    clear: both;
}

html {
    font-size: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 1rem;
    line-height: 1.375;
    margin: 0;
}
.page__cell {
    max-width: 1180px;
    margin: 0 auto;
}
.header {
    border-bottom: 1px solid #ccc;
    padding: 1.8rem 0;
);
}
.phone-number,
.email-address{
    text-decoration: none;
}
.phone-number {
    font-weight: 700;
    font-size: 1.5625rem;
    color: #000;

}
.email-address {
    color: #808080;
}
.header__logo {
    float: left;
}
.header__contacts {
    float: right;
    text-align: right;
}
